<html>
<head>
    <title>VexTab Playground</title>
    <link href='http://fonts.googleapis.com/css?family=OFL+Sorts+Mill+Goudy+TT|Yanone+Kaffeesatz|Tangerine'
          rel='stylesheet' type='text/css'>
    <link href="style.css" media="screen" rel="Stylesheet" type="text/css"/>

    <link href="https://0b0f039ba2113bf1c6de76d7ee52555275b0fb18.googledrive.com/host/0B3BgE7P6T9GOd2dEQV9sM2pTTWc/vextab.css"
          media="screen" rel="Stylesheet" type="text/css"/>
    <script src="https://0b0f039ba2113bf1c6de76d7ee52555275b0fb18.googledrive.com/host/0B3BgE7P6T9GOd2dEQV9sM2pTTWc/vextab-div.js"
            type="text/javascript"></script>
    <!-- <script>
        VexTabDiv.Flow.Renderer.USE_CANVAS_PROXY = true;
        VexTabDiv.Artist.DEBUG = false
    </script>
    -->
</head>

<body>
<div class="content">
    <div style="width:720; margin-left: auto; margin-right: auto;">
        <div class="vex-tabdiv"
             width=700 scale=0.75 editor="false"
             editor_width=720 editor_height=220>stave
            notes :q (5/2.5/3.7/4) 5h6/3 7/4 |
            notes :8 t12p7p5h7/4 :q 7/5 :8 3s5/5
        </div>
    </div>
</body>

</html>
